<div class="row justify-content-end">
    <div class="col-12 col-sm-2">
        <p>{{stagiaire?.Email}}</p>
    </div>
    <div class="col-12 col-sm-1">
        <a routerLink="/choix-stagiaire">Choisir un autre</a>
    </div>
  </div>
  
  <br />
  
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey">
      <links>
          <ul class="navbar-nav mr-auto active">
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect  routerLink="/{{stagiaire?.Id}}/sondages">Mes sondages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbWavesEffect routerLink="/{{stagiaire?.Id}}/resultats">Mes résultats</a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  
  <br/>
  
  <app-bandeau-component></app-bandeau-component>
  <br />


  <div class="col-12 col-sm-1">
      <a routerLink="/{{stagiaire.Id}}/resultats">Retour à la page précédente</a>
  </div>