

<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>

<body>

<div id="content">
    
        <!-- le composant défini dans la route courante va être inséré à cet endroit -->
    
        <!-- au regard de la configuration précédente, 
            /page1 va insérer le composant AComponent à cet emplacement
            /page2 a insérer le composant BComponent à cet emplacement
        -->
    
    <router-outlet></router-outlet>
</div>
    
</body>

</html>