<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img alt="Logo" src=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
      </ul>
  </div>
</nav>
<br/>
<div class="col-12 col-sm-8 offset-sm-2 ">
  <fieldset class="fieldset">
      <h1 class="titre">{{titre}}</h1>
      <br />
      <p class="pDescription">{{description}}</p>
  </fieldset>
</div>

<br/>