.titre
{
    text-align: center;
}

.fieldset
{
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 10px;
    background-color:rgb(211, 208, 208);
    padding:2%;
}


.pDescription
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}