    <div class="card text-center">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{stagiaire.Nom}} {{stagiaire.Prenom}}</h4>
      </div>
      <div class="card-body">
        <img src="{{stagiaire.UrlPhoto}}" alt="{{stagiaire.Nom}} {{stagiaire.Prenom}}" style="max-width:100%" width="100" height="100" >
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-outline-secondary" (click)="quandOnClique()">Choisir</button>
      </div>
    </div>